*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 0, 255);
}

button{
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 0, 255);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgb(133, 0, 133);
    
}

div{
    border: 2px solid rgb(255, 0, 255) ;
    border-radius: 10px ;
    margin: 0 auto;
    padding: 5px;
    width: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 10px   ;
}

div img{
    border: 1px solid rgb(0, 0, 0) ;

width: 100%;
object-fit: cover;
box-shadow: 2px 2px 6px rgb(255, 0, 255);
}